{% extends 'base.html' %}
{% block nav %}
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn btn-primary" href={% url 'home' %} >Home</a>
                <a class="btn btn-primary" href={% url 'blogs' %}>Blogs</a>
                <a class="btn btn-primary" href="#signup">Acerca de nosotros</a>
            </div>
        </nav>
{% endblock nav %}
{% block encabezado %}Bienvenidos a los Blogs{% endblock encabezado %}  
{% block subencabezado %}<h2>Holi {{nombre}}, estas listo?</h2>{% endblock subencabezado %} 
{% block listado_blogs %}
    <h2>Listado de blogs</h2>
    __________________________________________________________
    <ul>
        {% for objeto in lista_objetos %}
        <li>{{objeto.titulo}}</li>
        <li>{{objeto.caracteres}}</li>
        {% endfor %}
    </ul>
{% endblock listado_blogs %}