{% extends 'base.html' %}
{% block titulo %}<title>Crear Blog</title>{% endblock titulo %}
{% block nav %}
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn btn-primary" href={% url 'home' %} >Home</a>
                <a class="btn btn-primary" href={% url 'crear_blog' %}>crear blog</a>
                <a class="btn btn-primary" href="#signup">Acerca de nosotros</a>
            </div>
        </nav>
{% endblock nav %}
{% block encabezado %}Listo para hacer magia?{% endblock encabezado %}  
{% block subencabezado %}<h2>Holi, Comencemos!</h2>{% endblock subencabezado %} 

{% block listado_blogs %}
    <h2>Creemos un nuevo Blog</h2>
    __________________________________________________________
    <div>
        <form action={% url 'crear_blog' %} method= "post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button>Crear</button>
        </form>
    </div>
{% endblock listado_blogs %}

