{% extends 'base.html' %}

{% block titulo %}<title>Crear Blog</title>{% endblock titulo %}
{% block nav %}
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn btn-primary" href={% url 'home' %} >Home</a>
                <a class="btn btn-primary" href={% url 'crear_blog' %}>crear blog</a>
                <a class="btn btn-primary" href="#signup">Acerca de nosotros</a>
            </div>
        </nav>
{% endblock nav %}
{% block encabezado %}Listo para hacer magia?{% endblock encabezado %}  
{% block subencabezado %}<h2>Holi, Comencemos!</h2>{% endblock subencabezado %} 

{% block listado_blogs %}
    <h2>Este esel listado</h2>

    <p>
        <form action={% url 'listado_blogs' %}>
            {{form}}
            <button>Buscar</button>
        </form>
    </p>
    __________________________________________________________
    <div>
        <p>
            {% if listado_blogs %}
            <ul>
                {% for blog in listado_blogs %}
                <li>{{blog}}</li>
                {% endfor %}
            </ul>
            {% else %}
            No se encontraron datos
            {% endif %}
            
        </p>
    </div>
    <a class="btn btn-primary" href={% url 'crear_blog' %}>crear blog</a>
{% endblock listado_blogs %}
